.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 101; 

    .bar {
        width: 25px;
        height: 3px;
        background-color: var(--on-primary);
        transition: all 0.3s ease-in-out;
    }

    &.active {
        .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(2) {
            opacity: 0;
        }
        .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

@media (max-width: 1068px) {
    .hamburger {
        display: flex;
    }
}